Repository nikitababko/code-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, pnpm format

.lintstagedrc.json:

{
    "**/*.{js,jsx,ts,tsx}": ["pnpm lint:fix"],
    "**/*.{json,md,css,scss}": ["pnpm format"]
}

feat: add base functionality
  .prettierrc
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/components/button/button.tsx
  src/components/button/button.types.ts
  src/components/button/index.ts
  src/components/loader/index.ts
  src/components/loader/loader.styles.css
  src/components/loader/loader.tsx
  src/components/loader/loader.types.ts
  src/components/output/index.ts
  src/components/output/output.tsx
  src/components/output/output.types.ts
  src/constants.ts
  src/core/api/execute-code.ts
  src/core/api/index.ts
  src/global.css
  src/index.css
  src/main.tsx
Due: pnpm lint:fix, pnpm format

style: reformat code with tabWidth 2
  .prettierrc
  eslint.config.js
  src/App.tsx
  src/components/button/button.tsx
  src/components/button/button.types.ts
  src/components/loader/loader.tsx
  src/components/loader/loader.types.ts
  src/components/output/output.tsx
  src/components/output/output.types.ts
  src/core/api/execute-code.ts
  src/core/api/index.ts
  src/main.tsx
  vite.config.ts
Due: pnpm lint:fix

build: enable source maps
  vite.config.ts
Due: pnpm lint:fix

fix: update grid rows, remove fixed editor height, lint code
  .lintstagedrc.json
  .prettierrc
  commitizen.config.cjs
  commitlint.config.cjs
  index.html
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/components/loader/loader.styles.css
  src/global.css
  tsconfig.json
Due: pnpm lint:fix, pnpm format

refactor: rename disabled prop to isDisabled and enforce boolean naming convention
  eslint.config.js
  src/app.tsx
  src/components/button/button.tsx
  src/components/button/button.types.ts
  src/main.tsx
Due: pnpm lint:fix

feat: add auto-save code to localStorage
  eslint.config.js
  src/app.tsx
  src/constants.ts
  src/hooks/use-debounce.ts
  tsconfig.json
Due: pnpm lint:fix, pnpm format

style: preserve line breaks in code output with whitespace-pre
  src/components/output/output.tsx
Due: pnpm lint:fix

feat: add drag to resize editor panel
  pnpm-lock.yaml
  src/app.tsx
  src/components/output/output.tsx
  src/components/output/output.types.ts
  src/constants.ts
Due: pnpm lint:fix

feat: add language selection and refactor editor initialization
  eslint.config.js
  src/app.tsx
  src/components/button/button.tsx
  src/components/button/button.types.ts
  src/components/language-select/index.ts
  src/components/language-select/language-select.tsx
  src/components/language-select/language-select.types.ts
  src/constants.ts
  src/core/api/execute-code.ts
  src/hooks/index.ts
  src/hooks/use-outside-click.ts
  src/types.ts
Due: pnpm lint:fix

chore(commitizen): replace [''] with [] in scopes config
  commitizen.config.cjs
Due: none

refactor(output): improve a11y and add typed ref for <samp>
  src/components/output/output.tsx
  src/components/output/output.types.ts
Due: pnpm lint:fix

feat(editor): add code formatting (prettify) via button and Ctrl/Cmd+S shortcut
  src/app.tsx
Due: pnpm lint:fix

refactor(editor): extract monaco editor helpers into separate module
  eslint.config.js
  src/app.tsx
  src/types.ts
  src/utils/editor.ts
  src/utils/index.ts
Due: pnpm lint:fix

feat: add Ctrl/Cmd+Enter shortcut to run code
  src/app.tsx
  src/utils/editor.ts
Due: pnpm lint:fix

fix(editor): ensure run shortcut calls latest handleRunCode via stable ref
  eslint.config.js
  src/app.tsx
  src/utils/editor.ts
Due: pnpm lint:fix

fix(output): prevent overflow by adding scroll for long code output
  src/components/output/output.tsx
Due: pnpm lint:fix

perf(editor): optimize resize with debounced localStorage update and preventDefault
  src/app.tsx
Due: pnpm lint:fix

fix(language-select): allow custom className to control z-index layering
  src/app.tsx
  src/components/language-select/language-select.tsx
  src/components/language-select/language-select.types.ts
Due: pnpm lint:fix

chore: replace default Vite favicon with custom one
  index.html
  public/favicon.ico
  public/vite.svg
Due: none

feat(editor): integrate Prettier with custom formatting rules
  eslint.config.js
  src/utils/editor.ts
Due: pnpm lint:fix

feat(editor): comment line and move cursor down on Cmd/Ctrl+/
  src/app.tsx
  src/utils/editor.ts
Due: pnpm lint:fix

feat(editor): add duplicate line shortcut (Ctrl/Cmd+D)
  src/app.tsx
  src/utils/editor.ts
Due: pnpm lint:fix

chore: update code execution API endpoint and base URL
  src/core/api/execute-code.ts
  src/core/api/index.ts
Due: pnpm lint:fix

fix(output): show execution failure details
  src/app.tsx
Due: pnpm lint:fix
